
<div class="projects-wrapper">
  {% for project in site.projects %}
    <div class="project">
      <div class="project-headline"><a href="{{ project.link }}">{{ project.name }}</a></div>
      <p>{{ project.content }}</p>
    </div>
  {% endfor%}
</div>
  